* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .active {
  opacity: 1;
}

.container {
  border-radius:20px;
  width: 100%;
  max-width: 1000px;
  max-height: 1300px;
  background-color: white;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 0px 55px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 55px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

@media (max-width: 1100px) {
  .container {
    margin: 10px;
  }
}
.container .left-side {
  position: relative;
  background-color: #4b0082;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .left-side_profile {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left-side_profile .profile_img {
  width: 150px;
  height: 150px;
  background-image: url("/images/photo.jpg");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  -webkit-filter: brightness(0.8) contrast(1.5);
          filter: brightness(0.8) contrast(1.5);
}

.container .left-side_profile .profile_text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  -webkit-animation: rotateWords 20s linear infinite;
          animation: rotateWords 20s linear infinite;
}

@-webkit-keyframes rotateWords {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateWords {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container .left-side_profile .profile_text .text span {
  position: absolute;
  left: 50%;
  font-size: 1em;
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
  color: white;
}

.container .left-side_sub-profile {
  font-family: Poppins, sans-serif;
  color: white;
  margin-top: 75px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.container .left-side_sub-profile .sub-profile_name {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.5px;
}

.container .left-side_sub-profile .sub-profile_profession {
  color: #FE0058;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.container .left-side .left-side_contacts {
  position: relative;
}

.container .left-side .left-side_contacts .contacts_title {
  color: white;
  margin-top: 70px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}

.container .left-side .left-side_contacts .contacts_list {
  list-style: none;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .container .left-side .left-side_contacts .contacts_list {
    text-align: left;
  }
}

.container .left-side .left-side_contacts .contacts_list .list_item {
  font-family: Poppins, sans-serif;
  margin-bottom: 30px;
}

.container .left-side .left-side_contacts .contacts_list .list_item .item_icon {
  display: inline-block;
  font-size: 18px;
  width: 30px;
  color: #03a9f4;
}

.container .left-side .left-side_contacts .contacts_list .list_item .item_text {
  font-weight: 300;
}

.container .right-side {
  position: relative;
  padding: 30px 40px;
  background-color: #fff;
}

.container .right-side_about {
  margin-bottom: 40px;
}

.container .right-side_about .about_title {
  color: #FE0058;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.8em;
}

.container .right-side_about .about_text {
  font-family: "Rubik", sans-serif;
  line-height: 1.6em;
  letter-spacing: 1.2px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .container .right-side_about .about_text {
    text-align: left;
  }
}

.container .right-side_about .about_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.container .right-side_about .about_box .about-box_company {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .right-side_about .about_box .about-box_company .company_name {
  text-transform: uppercase;
}

.container .right-side_about .about_box .about-box_description {
  font-family: "Rubik", sans-serif;
}

.container .right-side_about .about_box-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .right-side_about .about_box-skills ul li {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #4b0082;
  padding: 15px 10px;
  background-color: #4b0082;
  color: white;
  border-radius: 5px;
  width: 175px;
}

.container .right-side .right-side_button {
  text-align: center;
}

.container .right-side .right-side_button .button_text {
  position: relative;
  background-color: transparent;
  border: 2px solid #FE0058;
  padding: 20px 50px;
  color: #FE0058;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .right-side .right-side_button .button_text:hover {
  color: white;
  -webkit-box-shadow: 0 0 10px #FE0058, 0 0 30px #FE0058, 0 0 60px #FE0058;
          box-shadow: 0 0 10px #FE0058, 0 0 30px #FE0058, 0 0 60px #FE0058;
}

.container .right-side .right-side_button .button_text:hover:before {
  width: 60%;
  height: 103%;
  left: -2px;
  -webkit-box-shadow: 5px 0px 0px #FE0058, 5px 0px 0px #FE0058;
          box-shadow: 5px 0px 0px #FE0058, 5px 0px 0px #FE0058;
  -webkit-transition-delay: 0s, 1s, 0.5s, 1s;
          transition-delay: 0s, 1s, 0.5s, 1s;
}

.container .right-side .right-side_button .button_text:hover:after {
  width: 60%;
  height: 103%;
  right: -2px;
  -webkit-box-shadow: -5px 0px 0px #FE0058, -5px 0px 0px #FE0058;
          box-shadow: -5px 0px 0px #FE0058, -5px 0px 0px #FE0058;
  -webkit-transition-delay: 0s, 1s, 0.5s, 1s;
          transition-delay: 0s, 1s, 0.5s, 1s;
}

.container .right-side .right-side_button .button_text:hover span {
  color: white;
}

.container .right-side .right-side_button .button_text:before {
  position: absolute;
  content: '';
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #FE0058;
  -webkit-box-shadow: 5px -8px 0 #FE0058, 5px 8px 0 #FE0058;
          box-shadow: 5px -8px 0 #FE0058, 5px 8px 0 #FE0058;
  -webkit-transition: width 0.5s, height 0.5s, left 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, left 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, left 0.5s, box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, left 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transition-delay: 1s, 0s, 0.5s, 0.5s;
          transition-delay: 1s, 0s, 0.5s, 0.5s;
}

.container .right-side .right-side_button .button_text:after {
  position: absolute;
  content: '';
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #FE0058;
  -webkit-box-shadow: -5px -8px 0 #FE0058, -5px 8px 0 #FE0058;
          box-shadow: -5px -8px 0 #FE0058, -5px 8px 0 #FE0058;
  -webkit-transition: width 0.5s, height 0.5s, right 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, right 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, right 0.5s, box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, right 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transition-delay: 1s, 0s, 0.5s, 0.5s;
          transition-delay: 1s, 0s, 0.5s, 0.5s;
}

.container .right-side .right-side_button .button_text span {
  position: relative;
  z-index: 100;
  letter-spacing: 8px;
}


.about_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  width: 100%;
  padding: 30px;
  display: none;
  max-width: 1000px;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.back {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  border-bottom: 1px solid grey;
  right:50px;
  top:20px;
}
.back3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
}
.back2 {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  border-bottom: 1px solid grey;
  right:50px;
  top:20px;
}
.popup_title {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: 700;
}
.text-box_title {
  color: #FE0058;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  font-size: 1.8em;
  border-bottom: 1px solid #FE0058;
}
.button_text {
  position: relative;
  background-color: transparent;
  border: 2px solid #FE0058;
  padding: 20px 50px;
  color: #FE0058;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button_text:hover {
  -webkit-box-shadow: 0 0 10px #FE0058, 0 0 30px #FE0058, 0 0 60px #FE0058;
          box-shadow: 0 0 10px #FE0058, 0 0 30px #FE0058, 0 0 60px #FE0058;
}
.project_box{
  margin:50px 30px
}
.project-title {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: 700;
}
.text-box_desc {
  margin-left: 50px;
  font-family: "Rubik", sans-serif;
  line-height: 1.8em;
  font-size: 1em;
  text-align: left;
}
.pages{
  text-align: center;
  margin-bottom: 10px;
}
.pages-btn{
  padding: 10px;
  background: transparent;
  cursor: pointer;
  color: #FE0058;
  border: 1px solid #FE0058;
  font-size: 17px;
}
.pages-btn:hover{
  box-shadow: 0 0 5px #fe0058;
}
.project2 {
  width: 100%;
  padding: 30px;
  display: none;
  max-width: 1000px;
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.pages-btn2{
  padding: 10px;
  background: transparent;
  cursor: pointer;
  color: #FE0058;
  border: 1px solid #FE0058;
  font-size: 17px;
}
.pages-btn2:hover{
  box-shadow: 0 0 5px #fe0058;
}
.company_date{
  color:#4b0082;
  font-family: "Rubik", sans-serif;
}
#about_text{
  color:#000;
}
p{
  color:#000;
}